<html>
    <head>
        <link rel="stylesheet" type="text/css" href="../static/style.css">
    </head>
    <body>
        <form action="/" method = "POST" class = "submission-form">
        Name
        <input type ="text" name = "Name"><br>
        Gender
        <input type ="text" name = "gender"><br>    
        Weight(Kg)
        <input type = "text" name = "weight"><br>
        Height(cm)
        <input type = "text" name = "height"><br>
        <button type = "submit" value = "submit">Calculate</button>
        </form>
        {% if bmi %}
        <p> Hi, {{Name}}. Your BMI is {{bmi}}</p>
        {%endif%}
        {% if bmi < 18.5 %}
        <p>BMI status = UNDERWEIGHT</p>
        {% elif bmi >=18.5 and bmi < 24.9 %}
        <p>BMI status = NORMAL</p>
        {% elif bmi >=25 and bmi < 29.9 %}
        <p>BMI status = OVERWEIGHT</p>
        {% elif bmi >=30 %}
        <p>BMI status = OBESE</p>
        {%endif%}
    </body>
</html>